body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  display: flex;
}
.questionContainer {
  height: 200px;
  width: 250px;
  background-color: rgb(231, 220, 218);
  display: flex;
  justify-content: center;
  margin:2rem;
}
.answerContainer {
  height: 200px;
  width: 250px;
  background-color: rgb(240, 68, 38);
  display: flex;
  justify-content: center;
  margin:2rem;
}
